<form (ngSubmit)="save(fightForm.value)" [formGroup]="fightForm">

  <mat-form-field>
    <mat-label>Datum</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
   <mat-error *ngIf="fightForm.get('date')?.invalid && (fightForm.get('date')?.dirty || fightForm.get('date')?.touched)">
      <span *ngIf="fightForm.get('date')?.hasError('required')">Date is required</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Location</mat-label>
      <input type="text"
      formControlName="location"
      matInput required />
      <mat-error *ngIf="fightForm.controls['location'].invalid && (fightForm.controls['location'].dirty || fightForm.controls['location'].touched)">
        Location is required and must be less than 100 characters
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Opponent</mat-label>
    <input type="text"
    formControlName="opponent"
    matInput required />
    <mat-error *ngIf="fightForm.controls['opponent'].invalid && (fightForm.controls['opponent'].dirty || fightForm.controls['opponent'].touched)">
      Opponent is required and must be less than 30 characters
    </mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Result</mat-label>
      <input type="text"
      formControlName="result"
      matInput required />
      <mat-error *ngIf="fightForm.controls['result'].invalid && (fightForm.controls['result'].dirty || fightForm.controls['result'].touched)">
        Result is required and must be less than 30 characters
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Event</mat-label>
    <mat-select formControlName="event" required>
      <mat-option *ngFor="let event of events" [value]="event">
        {{ event.description }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="fightForm.controls['event'].invalid && (fightForm.controls['event'].dirty || fightForm.controls['event'].touched)">
      Event is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
  <button mat-raised-button (click)="back()">Cancel</button>

</form>
