<table mat-table [dataSource]="fighterDataSource">

    <mat-text-column name="name" headerText="Name">
    </mat-text-column>
  
    <mat-text-column name="weightClass" headerText="Weight Class">
    </mat-text-column>
  
    <mat-text-column name="fightRecord" headerText="Fight Record">
    </mat-text-column>
  
    <ng-container matColumnDef="boxingClub">
      <th *matHeaderCellDef mat-header-cell>boxingClub</th>
      <td *matCellDef="let element" mat-cell> {{element.boxingClub ? element.boxingClub.name : ''}} </td>
    </ng-container>  
  
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="w-75 th-center" mat-header-cell>Actions</th>
      <td *matCellDef="let element" mat-cell style="text-align: end">
  
    
        <button
          (click)="edit(element)"
          color="warn" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
    
        <button
          (click)="delete(element)"
          color="warn" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  
  <button
  (click)="create()"
  color="primary" mat-icon-button>
  <mat-icon>add</mat-icon>
  </button>
  