<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['']">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item [routerLink]="['boxingClubs']">
    <mat-icon>sports_mma</mat-icon>
    <span>Boxing Clubs</span>
  </button>
  <button mat-menu-item [routerLink]="['fighters']">
    <mat-icon>group</mat-icon>
    <span>Fighters</span>
  </button>
  <button mat-menu-item [routerLink]="['fights']">
    <mat-icon>fitness_center</mat-icon>
    <span>Fights</span>
  </button>
  <button mat-menu-item [routerLink]="['events']">
    <mat-icon>event</mat-icon>
    <span>Events</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
<app-login></app-login>
